<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BitcoinHunt.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FD7B1E3E1CB1937100F7E7D2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FD7B1E571CB1937200F7E7D2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FD7B1E621CB1937200F7E7D2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
